<IfModule mod_rewrite.c>
    RewriteEngine On
    # Direct all requests to index.php if the file doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_dir.c>
    DirectoryIndex index.php
</IfModule>
